@media (max-width:767px) {
    #heading {
        font-size: 22px;
    }
}

@media (min-width:768px) {
    #heading {
        font-size: 50px;
    }
}

form {
    font-size: 0.875rem;
}

label {
    font-weight: 500;
    margin-bottom: 4px;
}